
@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      margin-top: 20px;

      .loginForm{
          margin-top: 80px;
      }
      .loginLogo{
          width: 200px;
          display: block;
          margin: auto;
      }
      .logInError{
        position: absolute;
        margin-top: -60px;
        width: 320px;
      }
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .chatsPanel{
      width: 400px;
      height: 100vh;
      border-width: 1px;
      border-color: black;
      border-style: solid;
    }
  }